.content {
  min-height: calc(100vh - 65px);
}
.footer {
  height: auto;
  padding: 20px 0;
  text-align: center;
  color: white;
  background-color: $dark-grey;
  width: 100%;
  }

.fa-heart {
  color: red
}
