.list-card {
  border-top: 1px solid $dark-grey;
  padding:14px 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 1em;
    margin-bottom: 0;
  }
  span {
    font-size: 12px;
  }
}

.list-container {
  width: 100%;
}

.list-header {
  margin: 24px 0;
}
